/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
/oh-ai-car-ros-app/
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
.env
*.hap
*.p12
*.p7b
*.cer
compile_output.txt
entry/src/main/resources/rawfile/config.env
*.log
*.mp4
